.header img {
        float: left;
}
.header h1 {
    /*margin: 30px;*/
}
select {
    margin-bottom: 30px;
}
body {
    margin: 30px;
    overflow: hidden;
}
.ace_editor {
    border: 1px solid lightgray;
		margin: auto;
		height: 500px;
		width: 80%;
}
.scrollmargin {
		height: 80px;
    text-align: center;
}
.instructions {
	margin-bottom: 30px;
}
